<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdvertiseMapper">
    <select id="selectAll" resultType="com.example.demo.pojo.Advertise">
        select * from advertisements;
    </select>
    <select id="selectByKey" resultType="com.example.demo.pojo.Advertise">
        select * from advertisements where name Like CONCAT('%', #{key}, '%');
    </select>
    <select id="selectBanners" resultType="com.example.demo.pojo.Advertise">
        SELECT *
        FROM advertisements
        WHERE banner = true
          AND (status = 'approved' OR status = 'running');
    </select>
    <select id="selectById" parameterType="Integer" resultType="com.example.demo.pojo.Advertise">
        select * from advertisements where advertisement_id = #{id};
    </select>
    <delete id="deleteAdvertise" parameterType="Integer" >
        delete from advertisements where advertisement_id = #{id};
    </delete>
    <update id="updateStatus">
        update advertisements set status = #{status},reason = #{reason} where advertisement_id = #{id};
    </update>
    <update id="updateInfo">
        update advertisements set name = #{name}, updated_time = #{updated} where advertisement_id = #{id};
    </update>
    <insert id="addAdvertise" parameterType="com.example.demo.pojo.Advertise" useGeneratedKeys="true" keyProperty="advertisement_id">
        INSERT INTO advertisements (shop_id,product_id,advertisement_type, start_time,end_time,status,created_time,updated_time,reason,price,picture_id,banner,name
        ) VALUES (#{shop_id},#{product_id},#{advertisement_type},#{start_time, jdbcType=DATE},#{end_time, jdbcType=DATE},#{status},
                     #{created_time},#{updated_time},#{reason, jdbcType=VARCHAR},#{price},
                     #{picture_id},#{banner},#{name}  )
    </insert>
    <update id="updateReason">
        update advertisements set status=#{status},reason=#{reason} where advertisement_id = #{id};
    </update>
</mapper>