<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">
    <insert id="addComment" parameterType="com.example.demo.pojo.Comment" useGeneratedKeys="true" keyProperty="comment_id">
        INSERT INTO comment (order_id, user_id, content, level, product_id, status, created_time,picture_id)
        VALUES (#{order_id}, #{user_id}, #{content}, #{level}, #{product_id}, #{status}, #{created_time},#{picture_id})
    </insert>

    <select id="selectAllCommentVo" parameterType="Integer" resultType="com.example.demo.pojo.Vo.CommentVo">
        SELECT
            c.order_id,
            c.comment_id,
            c.created_time,
            c.level,
            p.picture_id as product_image,
            p.name as product_name,
            p.price as product_price,
            c.content,
            c.picture_id as commentimg_urls
        FROM
            comment c
            JOIN
            product p ON c.product_id = p.product_id
        WHERE
            c.user_id = #{user_id}
    </select>

    <select id="selectProductCommentVo" parameterType="Integer" resultType="com.example.demo.pojo.Vo.CommentVo">
        SELECT
            c.comment_id,
            c.created_time,
            c.level,
            p.picture_id as product_image,
            p.name as product_name,
            p.price as product_price,
            c.content,
            c.picture_id as commentimg_urls
        FROM
            comment c
                JOIN
            product p ON c.product_id = p.product_id
        WHERE
            p.product_id = #{product_id}
    </select>
</mapper>