<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CouponMapper">
    <!-- 创建优惠券 -->
    <insert id="createCoupon" parameterType="com.example.demo.pojo.Coupon"
            useGeneratedKeys="true" keyProperty="coupon_id">
        INSERT INTO coupons(coupon_type, start_time, end_time, scope, request, off, coupon_status, total, claim_limit, max_unused_count, create_time,shop_id)
        VALUES (#{coupon_type}, #{start_time}, #{end_time}, #{scope}, #{request}, #{off}, #{coupon_status}, #{total}, #{claim_limit}, #{max_unused_count}, #{create_time},#{shop_id})
    </insert>

    <update id="updateCouponStatusByNowTime">
        UPDATE coupons
        SET
            coupon_status =
            CASE
                WHEN NOW() &lt; start_time THEN 'Pending'<!-- 当前时间早于开始时间，状态设为待生效 -->
                WHEN NOW() &gt;= start_time AND NOW() &lt;= end_time THEN 'Active'<!-- 当前时间在有效期内，状态设为生效中 -->
                WHEN NOW() &gt; end_time THEN 'Expired'<!-- 当前时间晚于结束时间，状态设为已失效 -->
                ELSE coupon_status                      <!-- 其他情况保持状态不变 -->
            END
        WHERE coupon_id = #{couponId} AND
            (
                (NOW() &lt; start_time AND coupon_status != 'Pending') OR
                (NOW() &gt;= start_time AND NOW() &lt;= end_time AND coupon_status NOT IN ('Active', 'Paused')) OR
                (NOW() &gt; end_time AND coupon_status != 'Expired')
            )
    </update>

    <!-- 删除优惠券 -->
    <delete id="deleteCouponById" parameterType="Integer">
        DELETE FROM coupons WHERE coupon_id = #{coupon_id}
    </delete>

    <!-- 查询优惠券 -->
    <select id="selectCouponById" parameterType="Integer" resultType="com.example.demo.pojo.Coupon">
        SELECT * FROM coupons WHERE coupon_id = #{coupon_id}
    </select>

    <!-- 获取平台券 -->
    <select id="selectCouponsByType" parameterType="com.example.demo.enums.CouponType" resultType="com.example.demo.pojo.Coupon">
        SELECT * FROM coupons
        WHERE coupon_type = #{coupon_type}
        ORDER BY create_time DESC
    </select>

    <!-- 获取店铺券 -->
    <select id="selectCouponsByShop_id" parameterType="Integer" resultType="com.example.demo.pojo.Coupon">
        SELECT * FROM coupons
        WHERE shop_id = #{shop_id} AND coupon_type = 'shop'
        ORDER BY create_time DESC
    </select>

    <!-- 获取当前生效的平台券 -->
    <select id="getActivePlatformCoupons" parameterType="com.example.demo.enums.CouponType" resultType="com.example.demo.pojo.Coupon">
        SELECT * FROM coupons
        WHERE coupon_type = #{coupon_type} AND coupon_status = 'Active'
        ORDER BY create_time DESC
    </select>

    <!-- 获取某一店铺当前生效的优惠券 -->
    <select id="getActiveShopCoupons" parameterType="integer" resultType="com.example.demo.pojo.Coupon">
        SELECT * FROM coupons
        WHERE shop_id = #{shop_id} AND coupon_status = 'Active'
        ORDER BY create_time DESC
    </select>

    <!-- 修改未生效券的内容 -->
    <update id="updatePendingCouponContent" parameterType="map">
        UPDATE coupons
        SET
            start_time = #{start_time},
            end_time = #{end_time},
            request = #{request},
            off = #{off},
            total = #{total},
            claim_limit = #{claim_limit},
            max_unused_count = #{max_unused_count}
        WHERE coupon_id = #{coupon_id} AND coupon_status = 'Pending'
    </update>

    <!-- 修改已生效券的部分内容 -->
    <update id="updateActiveCouponContent">
        UPDATE coupons
        SET
            total = #{total},
            claim_limit = #{claim_limit},
            max_unused_count = #{max_unused_count}
        WHERE coupon_id = #{coupon_id} AND coupon_status = 'Active'
    </update>

    <!-- 暂停发放已生效的券 -->
    <update id="pauseActiveCoupon" parameterType="Integer">
        UPDATE coupons
        SET coupon_status = 'Paused'
        WHERE coupon_id = #{coupon_id} AND coupon_status = 'Active'
    </update>

    <update id="updateCouponScope" parameterType="com.example.demo.pojo.Coupon">
        UPDATE coupons
        set scope = #{scope}
        WHERE coupon_id = #{coupon_id}
    </update>
    <update id="updateScope">
        UPDATE coupons
        set scope = #{scope}
        WHERE coupon_id = #{coupon_id}
    </update>

    <!-- 减少优惠券总量 -->
    <update id="decrementCouponTotal">
        UPDATE coupons SET total = total - 1
        WHERE coupon_id = #{coupon_id} AND total > 0
    </update>
</mapper>