<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
    <insert id="addOrder" parameterType="com.example.demo.pojo.Orders" useGeneratedKeys="true" keyProperty="order_id">
        INSERT INTO orders (order_id, user_id, created_time, status, price, payment_method, address_id, pay_time, completed_time, shop_id, product_id, quantity)
        VALUES (#{order_id}, #{user_id}, #{created_time}, #{status}, #{price}, #{payment_method}, #{address_id}, #{pay_time}, #{completed_time}, #{shop_id}, #{product_id}, #{quantity})
    </insert>
</mapper>