<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
    <insert id="addOrder" parameterType="com.example.demo.pojo.Orders" useGeneratedKeys="true" keyProperty="order_id">
        INSERT INTO orders (user_id, created_time, status, price, payment_method, address_id, pay_time, completed_time, shop_id, product_id, quantity,discount)
        VALUES (#{user_id}, #{created_time}, #{status}, #{price}, #{payment_method}, #{address_id}, #{pay_time}, #{completed_time}, #{shop_id}, #{product_id}, #{quantity},#{discount})
    </insert>
    <update id="updateStatusAndPaymentMethod" parameterType="com.example.demo.pojo.Orders">
        UPDATE orders
        SET status = #{status},
            payment_method = #{payment_method},
            pay_time = #{pay_time}
        WHERE order_id = #{order_id}
    </update>

    <update id="updateStatuspay" parameterType="Integer">
        UPDATE orders
        SET status = "delivered"
        WHERE order_id = #{order_id}
    </update>

    <select id="selectAllOrder" resultType="com.example.demo.pojo.Orders">
        SELECT * FROM orders
    </select>
    <select id="selectAllOrderVo" parameterType="Integer" resultType="com.example.demo.pojo.Vo.OrderVo">
        SELECT
            o.order_id as order_id,
            o.created_time as date,
            o.status,
            p.product_id,
            p.picture_id as product_image,
            p.name as product_name,
            p.price as product_price,
            o.quantity as totalQuantity,
            (o.price * o.quantity) as totalAmount
        FROM
            orders o
                JOIN
            product p ON o.product_id = p.product_id
        WHERE
            o.user_id = #{user_id}
    </select>

    <update id="updateStatus" parameterType="com.example.demo.pojo.Orders">
        UPDATE orders
        SET status = #{status},
            completed_time = #{completed_time}
        WHERE order_id = #{order_id}
    </update>
</mapper>