<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductMapper">
    <select id="selectByName" parameterType="String" resultType="com.example.demo.pojo.Product">
        select * from product where name = #{name};
    </select>
    <select id="selectById" parameterType="Integer" resultType="com.example.demo.pojo.Product">
        select * from product where product_id = #{id};
    </select>
    <select id="selectAllProductByShop_id" parameterType="Integer" resultType="com.example.demo.pojo.Product">
        select * from product where shop_id = #{shop_id};
    </select>
    <select id="selectAll" resultType="com.example.demo.pojo.Product">
        select * from product where product.status = 'sale';
    </select>
    <select id="selectAllEmptyProduct" resultType="com.example.demo.pojo.Product">
        select * from product where status = 'empty';
    </select>
    <select id="selectAllSaleProduct" resultType="com.example.demo.pojo.Product">
        select * from product where status = 'sale';
    </select>
    <select id="selectByAdvertise" resultType="com.example.demo.pojo.Product">
        select * from product where status = 'sale' and greedy > 0;
    </select>
    <select id="selectAllWaitingProduct" resultType="com.example.demo.pojo.Product">
        select * from product where status = 'waiting';
    </select>
    <select id="selectAllProductBySaleLocation" parameterType="String" resultType="com.example.demo.pojo.Product">
        select * from product where status = 'sale' and location = #{location};
    </select>
    <select id="selectAllProductBySaleCategory" parameterType="String" resultType="com.example.demo.pojo.Product">
        select * from product where status = 'sale' and category = #{category};
    </select>
    <select id="selectBuyHistoryByUser" parameterType="Integer" resultType="com.example.demo.pojo.Product">
        SELECT product.* FROM orders,product WHERE orders.user_id = #{uid} AND orders.product_id=product.product_id AND orders.status != 'pending'
    </select>
    <select id="selectSaleByShop" parameterType="Integer" resultType="Integer">
        SELECT product_id FROM product WHERE product.shop_id=#{shop_id} AND product.status= 'sale'
    </select>
    <update id="updateStatus" parameterType="com.example.demo.pojo.Product">
        update product set status = #{status} where product_id = #{product_id};
    </update>
    <update id="updateProduct" parameterType="com.example.demo.pojo.Product">
        update product set name = #{name}, description = #{description}, location = #{location}, updated_time = #{updated_time}, notice = #{notice},
                           discount = #{discount}, unit = #{unit}, quantity = #{quantity}, picture_id = #{picture_id}, category = #{category}, price = #{price}, salenum = #{salenum}, greedy = #{greedy}
        where product_id = #{product_id};
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from product where product_id = #{id};
    </delete>
    <insert id="insert" parameterType="com.example.demo.pojo.Product" useGeneratedKeys="true" keyProperty="product_id">
        insert into product(shop_id, name, category, price, description, quantity, picture_id, status, created_time,updated_time, location, notice, discount, unit, salenum, greedy)
        values (#{shop_id}, #{name}, #{category}, #{price}, #{description}, #{quantity}, #{picture_id}, #{status}, #{created_time},#{updated_time}, #{location}, #{notice}, #{discount}, #{unit}, #{salenum}, #{greedy})
    </insert>
    <select id="selectById" resultType="com.example.demo.pojo.Product">
        select * from product
        where product_id = #{id}
    </select>
</mapper>