<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.RecommendMapper">

    <insert id="insertRecommend" parameterType="com.example.demo.pojo.Recommend">
        INSERT INTO recommend (user_id, history, search, other, interest)
        VALUES (#{user_id}, #{history}, #{search},#{other},#{interest})
    </insert>
    <update id="updateRecommend" parameterType="com.example.demo.pojo.Recommend">
        UPDATE recommend SET history=#{history}, search=#{search}, other=#{other}, interest=#{interest}) WHERE user_id = #{user_id}
    </update>

    <select id="selectRecommend" resultType="com.example.demo.pojo.Recommend">
        SELECT * FROM recommend where user_id = #{uid}
    </select>

</mapper>