<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ShopMapper">
    <select id="selectAll" resultType="com.example.demo.pojo.Shop">
        select * from shops;
    </select>
    <select id="selectById" parameterType="Integer" resultType="com.example.demo.pojo.Shop">
        select * from shops where shop_id = #{id};
    </select>
    <select id="selectByUserId" parameterType="Integer" resultType="com.example.demo.pojo.Shop">
        select * from shops where user_id = #{id};
    </select>
    <update id="updateStatus" parameterType="com.example.demo.enums.ShopStatus">
        update shops set status = #{status} where shop_id = #{id};
    </update>
    <update id="updateShop" parameterType="com.example.demo.pojo.Shop">
        update shops set shop_name = #{shop_name}, shop_description = #{shop_description},
        location = #{location}, updated_time = #{updated_time}, salary = #{salary} where shop_id = #{shop_id};
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from shops where shop_id = #{id};
    </delete>
    <insert id="createShop" parameterType="com.example.demo.pojo.Shop" useGeneratedKeys="true" keyProperty="shop_id">
        insert into shops(user_id, shop_name, shop_description, status, created_time,updated_time, level,
                          location, salary, picture_id)
        values (#{user_id}, #{shop_name}, #{shop_description}, #{status}, #{created_time},#{updated_time}, #{level},
                #{location}, #{salary}, #{picture_id})
    </insert>
</mapper>