<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!-- 根据ID获取用户 -->
    <select id="selectById" parameterType="int" resultType="com.example.demo.pojo.User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <!-- 根据用户名获取用户 -->
    <select id="selectByUsername" parameterType="String" resultType="com.example.demo.pojo.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <!-- 获取所有用户 -->
    <select id="selectAll" resultType="com.example.demo.pojo.User">
        SELECT * FROM users
    </select>

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.example.demo.pojo.User">
        UPDATE users
        SET username = #{user.username}, password = #{user.password}, email = #{user.email}
        WHERE id = #{user.id}
    </update>

    <!-- 插入新用户 -->
    <insert id="insertUser" parameterType="com.example.demo.pojo.User">
        INSERT INTO users (username, password, email)
        VALUES (#{user.username}, #{user.password}, #{user.email})
    </insert>
    <!-- 根据邮箱获取用户 -->
    <select id="selectByEmail" parameterType="String" resultType="com.example.demo.pojo.User">
        SELECT * FROM users WHERE email = #{email}
    </select>
</mapper>
